.contact-text-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 92.5%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.get_in_touch_form h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36.23px;
  text-align: center;
  color: rgba(48, 72, 128, 0.85);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 27px;
}

.get_in_touch_form form .form_control,
.trusted_partner_modal .hero_form .form_control {
  margin-bottom: 23px;
  position: relative;
}

.get_in_touch_form form .form_control img,
.trusted_partner_modal .hero_form .form_control img {
  position: absolute;
  top: 18px;
  left: 12px;
}

.get_in_touch_form form .form_control .form_input,
.trusted_partner_modal .hero_form .form_control input {
  background: rgba(242, 244, 248, 1);
  border-radius: 8px;
  height: 55px;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 16px 16px 16px 38px;
  color: rgba(36, 36, 36, 1);
}

.get_in_touch_form form .form_control .form_select,
.trusted_partner_modal .hero_form .form_control select {
  background: rgba(242, 244, 248, 1);
  border-radius: 8px;
  height: 55px;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 15px 45px 15px 16px;
  color: rgba(36, 36, 36, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.get_in_touch_form form .form_control svg,
.trusted_partner_modal .hero_form .form_control svg {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 16px;
}
.get_in_touch_form form .form_control .form_textarea,
.trusted_partner_modal .hero_form .form_control .form_textarea {
  background: rgba(242, 244, 248, 1);
  border-radius: 8px;
  outline: none;
  height: 151px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 16px 16px 16px 38px;
  color: rgba(36, 36, 36, 1);
}
.get_in_touch_form form .form_submit {
  background: radial-gradient(
    56.97% 111.77% at 28% 29.57%,
    #5571b1 0%,
    #304880 100%
  );
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 9px 14px;
}

@media screen and (max-width: 1024px) {
  .get_in_touch_form {
    max-width: 460px;
    margin: 0 auto;
  }
  .get_in_touch_form {
    padding: 24px;
  }

  .get_in_touch_form h3 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 575px) {
  .form_control .form_input,
  .form_control .form_select,
  .form_control select,
  .form_control .form_input {
    height: 42px;
    padding: 10px;
  }
  .form_control .form_input {
    padding-left: 38px;
  }
  .form_control img {
    position: absolute;
    top: 15px;
    left: 10px;
  }
  form .form_submit {
    font-size: 14px;
    line-height: 21px;
    padding: 10px 14px;
  }
}
